* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(27, 205, 200);
  background: linear-gradient(90deg, rgba(27, 205, 200, 1) 0%, rgba(64, 144, 129, 1) 51%, rgba(26, 233, 168, 1) 100%, rgba(255, 0, 78, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  height: 38px;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 8px;
  outline: none;
  border: 1px solide #b6b6b6;
  font-size: 15px;
  -webkit-box-shadow: 8px 13px 39px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 8px 13px 39px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 8px 13px 39px 0px rgba(0, 0, 0, 0.47);
}

h1 {
  margin-bottom: 25px;
  font-size: 35px;
}

a {
  font-size: 20px;
}

a:hover{
  opacity: .8;
}

a:active{
  opacity: .6;
}